.wrapper {
    float: left;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/*bestaande evenementen*/
.wrapper .evenementen {
    width: 500px;
}

.wrapper .evenementen ul {
    list-style-type: none;
}

.wrapper .evenementen ul li {
    font-style: italic;
    border: 1px solid #000;
    padding: 10px;
    margin-top: 5px;
}

.wrapper .evenementen ul li:hover {
    background-color: #ccc;
    cursor: pointer;
}

/*evenement toevoegen form*/

.wrapper .evenement-toevoegen {
    margin-left: 510px;
    float: left;
    border: 1px solid #000;
}

.wrapper .evenement-toevoegen form {
    padding: 10px;
}

.wrapper .evenement-toevoegen form label, .wrapper .evenement-toevoegen form input,.wrapper .evenement-toevoegen form textarea {
    width: 100%;
    display: block;
    margin-top: 5px;
    font-size:x-large;
}

#plug-in-overlay {
   z-index: 9998;
   width: 100vw;
   height: 100vh;
   margin: auto;
   padding: 0;
   position: fixed;
   background-color: rgba(0, 0, 0, 0.6);
}

#plug-in-overlay .tipmaker {
   z-index: 9998;
   position: absolute;
   width: 450px;
   height: 470px;
   border: 2px solid #000000;
   background-color: rgba(255, 255, 255, 1);
   padding: 15px;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 100px;
   right: 0;
   margin: auto;
}

#plug-in-overlay #content{
    overflow: hidden;
}

#plug-in-overlay input {
   width: 100%;
   margin-bottom: 12px;
}

#plug-in-overlay textarea {
   width: 100%;
   margin-bottom: 10px;
}

#plug-in-overlay #active {
  width: 50px;
  
  background-color: red;
}

.opslaan {
    width: 50%;
    height: 20px;
}

.radiostyle {
  width: 100px !important;
}

.radiolabel {
  width: 100px !important;
}

.formButtons {
  width: 100%;
  margin: 0 0 5px 0;
  padding: 0;
}

#leftbar {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 9998;
  border: 2px solid #000000;
  overflow-y: auto;
  overflow-x: hidden;

}

.rssItem {
  width: 397px;
  
  padding: 0 10px 0 2px;
  margin: 0 0 0 0;
  position: relative;
}

.RSS-titel {
  margin: 0;
  padding: 5px;
  color: #2c57c9;
  cursor: pointer;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
  font-size: 12px;
  min-height: 25px;
  border-bottom: 1px solid #a1b8f9;
}
.RSS-titel:hover {
  color: #c4c4c4;
}
.RSS-titel:active{
 color: #c4c4c4; 
}

.RSS-omschrijving {
  margin: 0;
  padding: 0;
  display: none;
}

.RSS-omschrijving-a {
  margin: 0;
  padding: 5px 23px 0 7px;
  display: block;
  font-size: 11px;
  width: 382px;
  background-color: #f3f3f3;
  border-bottom: 3px solid #2c57c9;
}

.RSS-omschrijving-h {
  display: none;
}

#rightbar {
  margin: 0;
  padding: 0;
  width: 280px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 9998;
  border: 2px solid #000000;
  overflow-y: auto;
  overflow-x: hidden;
}

.bestaand-evenement {
  width: 277px;
  height: 100px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 4px solid #efefef;
  padding: 2px 0 2px 2px;
  margin: 0 0 0 0;
  position: relative;
}

.BE-titel {
  margin: 0;
  padding: 5px 10px 5px 5px;
  color: #7f7f7f;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
  font-size: 12px;
  font-weight: bold;
  min-height: 25px;
  border-bottom: 1px solid #a1b8f9;
}

.BE-omschrijving {
  margin: 0;
  padding: 5px 10px 5px 5px;
  font-size: 11px;
}

.barTitle {
  font-variant: small-caps;
  font-weight: bold;
  background-color: #6084E0;
  border-bottom: 2px solid ;
  color: white;
  padding: 1px 5px;
}

#activeToggler {
  width: 15px !important;
  display: inline;
}

.deleteButton {
  color: red;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0 0 5px;
}