#plug-in-overlay {
    z-index: 9998;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgba(0,0,0,0.1);
}

.tip {
    z-index: 9999;
    position: fixed;
    background: #FFF;
    width: 250px;
    border: 2px solid rgb(77, 144, 254);
    padding: 10px 20px 20px;
}

.arrow {
    width: 0;
    height: 0;
    position: absolute;
}


.arrow-right.arrow-white {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right:15px solid #FFF;
    top: 57px;
    left: -15px;
}

.arrow-right.arrow-blue {
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-right:17px solid rgb(77, 144, 254);
    left: -18px;
    top: 55px;
}

.arrow-left.arrow-white {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left:15px solid #FFF;
    border-right: 0;
    top: 57px;
    right: -15px;
}

.arrow-left.arrow-blue {
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left:17px solid rgb(77, 144, 254);
    border-right: 0;
    right: -18px;
    top: 55px;
}


#okButton {
    float: right;
    margin-top: 10px;
    font-size: 20px;
    width: 40px;
}